.contact {
  padding: 20px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.input, textarea {
  border: none;
  border-bottom: solid 1px #000000;
  width: 100%;
}

.button-container {
  display: flex;
  justify-content: center;
}

.form-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

p {
  margin: 0;
}

label {
  margin-top: 10px !important;
}

.form-input {
  padding: 10px;
}

.form-label {
  margin: 0;
}

.custom_button {
  text-align: center;
  display: block;
  cursor: pointer;
  border: 2px solid rgb(255, 255, 255);

  max-height: 50px;
  padding: 8px 16px;
  background-color: rgb(211, 19, 118);
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: normal;
  text-decoration: none;
  border-radius: 0px;
  visibility: visible;
  margin-top: 10px;
}

@media (min-width: 768px) {
  .input, textarea, label {
    width: 70%;
    margin: auto;
  } 
}